@import 'modules/reset.scss';
@import 'modules/theme.scss';
@import 'modules/onepagefont.scss';

:root {
    @media only screen and (max-width: 500px) {
        --pad: 32px;
        h1 {
            @include Jet(2, 15);
        }
        p {
            @include Jet(1, 5);
        }
    }
    @media only screen and (min-width: 500px) {
        --pad: 32px;
        h1 {
            @include Jet(3, 15);
        }
        p {
            @include Jet(1, 5);
        }
    }
}

html, body {
    height: 100%;
}

body {
    background-color: var(--m-bg);
    color: var(--m-fg);
    font-family: var(--f-body);
    overflow: hidden;
}

.mainpagecontainer {
    padding: var(--pad);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    max-width: 775px;
    //@media (prefers-color-scheme: dark) {
    
}

h1 {
    //@include Jet(var(--s-h1));
    margin-bottom: 32px;
    color: var(--m-fg);
    font-weight: 700;
    overflow-wrap: break-word;
}

p {
    //@include Jet(1, 5);
    color: var(--m-fg);
    margin-bottom: 16px;
}

a {
    background: linear-gradient(to right, var(--l-1), var(--l-2));
    background-size: 300% 25%;
    background-repeat: no-repeat;
    background-position: 0 120%;
    transition-property: background-position;
    transition-duration: 250ms;
    padding: 0;
    color: var(--m-fg);
    font-family: var(--f-link);
    text-decoration: none;
    font-style: italic;
}

a:hover {
    background-position: 100% 100%;
}

rt {
    font-size: 12pt;
    font-style: italic;
    color: var(--rt);
}

