/// Here most colors are set, mainly for dark mode compatiblity.

@media (prefers-color-scheme: light) {
    body {

        // main background color, for background.
        --m-bg: #ffffff;

        // main foreground color, for text.
        --m-fg: #000000;

        // alt colors, for login card.
        --alt-bg: #ffffff;
        --alt-fg: #00000040;

        // main h1 - h3 colors, for headings.
        --m-h1: #000000;
        --m-h2: #000000c0;
        --m-h3: #00000080;

        // <rt> color.
        --rt: var(--m-h2);

        // datetag color.
        --dt: var(--m-h2);

        // link color.
        --l-1: #00a6ff40;
        --l-2: #0091ff80;

        // navlink color
        --nvl: var(--m-h2);

        // selection color.
        --sel: var(--l-1);

        // input background colors.
        --i-1: #00a6ff;
        --i-2: #0091ff;

    }
}

@media (prefers-color-scheme: dark) {
    body {

        // main background color, for background.
        --m-bg: #000000;

        // alt background color, for login card.
        --alt-bg: #ffffff18;

        // main foreground color, for text.
        --m-fg: #ffffff;

        // main h1 - h3 colors, for headings.
        --m-h1: #ffffff;
        --m-h2: #ffffffc0;
        --m-h3: #ffffff80;

        // <rt> color.
        --rt: var(--m-h2);

        // datetag color.
        --dt: var(--m-h2); 

        // link color.
        --l-1: #00a6ff80;
        --l-2: #0091ffb0;

        // navlink color
        --nvl: var(--m-h2);

        // selection color.
        --sel: var(--l-2);

        // input background colors.
        --i-1: #001c9b;
        --i-2: #160078;
        
    }
}
