.col {
    display: table-cell;
    vertical-align: top;
}
.w-40 {
    width: 40%;
}
.w-33 {
    width: 33%;
}
.slab {
    color: var(--m-fg);
    margin: 16px 4px 16px 4px;
    box-shadow: 0px 0px 4px 0px rgba(100,100,100,0.25), 0px 0px 2px 2px rgba(100,100,100,0.25);
    border-radius: 8px;
    position: relative;
}
.slab {
    background-color: transparent;
}
.slab p {
    padding: 12px;
    font-family: "Domine", serif;
    line-height: 1.5em;
}
a {
    font-family: "IBM Plex Mono", monospace;
}
.navbar {
    padding: 1.5rem 0rem;
    text-align: center;
}
nav li {
    display: inline-block;
    font-size: 18px;
}
.active {
    font-weight: 600;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0rem;
}
.cardlink { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}